@import "tailwindcss";

* {
  /* cursor: none; */
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
 
/* @font-face {
  font-family: "Manrope";
  src: url("/font/regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: semi-bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */
@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 color: var(--foreground);
  width:100dvw;
  height: 100dvh;
  background-color: #ffffff; 
}
.custom-clip {
  clip-path: path('M120,0 H100% V100% H120 C100,100% 0,80% 0,50% C0,20% 100,0 120,0 Z');
  border-radius: 24px;
}

::-webkit-scrollbar {
  display: none;
}

/* Default */
:root {
  --bg-card: #F97316;
  --border-card: #e65100;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #ff9800;
  --button-text: #1b1a1a;
  --button-border: #F97F07;
  --p-text:#d15019;
  --div-bg:#FFEDD5;
  /* --k-bg:#C866D7; */
  --k-bg:#F97316;
  --bg-cards: #f9924d;
}


.olive {
  --bg-card: #b5b567;
  --border-card: #556b2f;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #808000;
  /* --button-text: #ffffff; */
  --button-text: #1b1a1a;
  --button-border: #3b442a;
  --p-text:#115640;
  --div-bg:#c0cda9;
  --k-bg: #8A9A5B;
  --bg-cards:#dada65;
  
}


.purple {
  --bg-card: #C866D7;
  --border-card: #8e66ab;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #6a0dad;
  /* --button-text: #ffffff; */
  --button-text: #1b1a1a;
  --button-border: #C866D7;
  --p-text:rgb(8, 50, 79);
  --div-bg:#f1eaf7;
  --k-bg: #C866D7;
  --bg-cards: #d6c4e0;
  
}

.pink {
  --bg-card: #ff69b4;
  --border-card: #d1478f;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #ff69b4;
  --button-text: #1b1a1a;
  --button-border: #d1478f;
  --p-text: #8c1f4d;
  --div-bg: #ffd1dc;
  --k-bg: #FF85C1;
  --bg-cards: #f7c6d7;
 
}

.red {
  --bg-card: #bc4f5a;
  --border-card: #8B0000;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #7C020F;
  --button-text: #1b1a1a;
  --button-border: #8B0000;
  --p-text: #A52A2A;
  --div-bg: #c59198;
  --k-bg: #D96C75;
  --bg-cards: #f7d1d3;
}
.brown {
  --bg-card: #846353;
  --border-card: #8B5A2B;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #7D4E36;
  --button-text: #1b1a1a;
  --button-border: #c3b3a5;
  --p-text: #A67B5B;
  --div-bg: #f3dec7;
  --k-bg: #B68C72;
  --bg-cards: #d6c4b5;
}
.cyan {
  --bg-card: #00A7A7;
  --border-card: #008B8B;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #00CCCC;
  --button-text: #1b1a1a;
  --button-border: #008B8B;
  --p-text: #20B2AA;
  --div-bg: #d6f7f7;
  --k-bg: #52D1C5;
  --bg-cards: #a4d8e1;
}
/* Utility classes */
.bg-theme {
  background-color: var(--bg-card);
}

.border-theme {
  border-color: var(--button-border);
}

.text-theme {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}
.text-p {
  color: var(--p-text);
}
.button-theme {
 color: var(--button-text);
  border: 2px solid var(--button-border);
}

.button-theme:hover {
  background-color: var(--border-card) !important;
  color: var(--text-primary) !important;
}
.div-bg {
  background-color: var(--div-bg);
}

.custom-svg rect {
  fill: var(--k-bg);
}

.bg-blog {
  background-color: var(--bg-cards);
}

.blog-1-image {
    clip-path: path("M18 0C8.05887 0 0 8.05887 0 18V316C0 326.493 8.50659 335 19 335H99C109.493 335 118 343.507 118 354V365C118 375.493 126.507 384 137 384H264C274.493 384 283 392.507 283 403V423C283 433.493 291.507 442 302 442H324C334.493 442 343 450.507 343 461V493C343 503.493 351.507 512 362 512H906C915.941 512 924 503.941 924 494V18C924 8.05887 915.941 0 906 0H18Z");

}

.custom-clip {
  clip-path: path("M18 0C8.05887 0 0 8.05887 0 18V583C0 592.941 8.05891 601 18 601H121C131.493 601 140 592.493 140 582V577C140 566.507 148.507 558 159 558H251C261.493 558 270 566.507 270 577V582C270 592.493 278.507 601 289 601H1405C1414.94 601 1423 592.941 1423 583V184C1423 173.507 1414.49 165 1404 165H1023C1012.51 165 1004 156.493 1004 146V98C1004 87.5066 1012.51 79 1023 79H1043C1053.49 79 1062 70.4934 1062 60V19C1062 8.50659 1053.49 0 1043 0H18Z");
}

.element {
  clip-path: path("M118 19C118 8.50659 109.493 0 99 0H19C8.50659 0 0 8.50659 0 19V49V70V107V119V158C0 168.493 8.50659 177 19 177H324C334.493 177 343 168.493 343 158V126C343 115.507 334.493 107 324 107H302C291.507 107 283 98.4934 283 88V68C283 57.5066 274.493 49 264 49H137C126.507 49 118 40.4934 118 30V19Z");
}

.section-element {
  .element {
  clip-path: path("M18 0C8.05887 0 0 8.05887 0 18V316C0 326.493 8.50659 335 19 335H99C109.493 335 118 343.507 118 354V365C118 375.493 126.507 384 137 384H264C274.493 384 283 392.507 283 403V423C283 433.493 291.507 442 302 442H324C334.493 442 343 450.507 343 461V493C343 503.493 351.507 512 362 512H906C915.941 512 924 503.941 924 494V18C924 8.05887 915.941 0 906 0H18Z");
}
}

.blog-section3-1 {
  clip-path: path(
    "M19 215C8.50659 215 0 223.507 0 234V583C0 592.941 8.05889 601 18 601H132.668C143.161 601 151.668 592.493 151.668 582V577C151.668 566.507 160.175 558 170.668 558H262.668C273.161 558 281.668 566.507 281.668 577V582C281.668 592.493 290.175 601 300.668 601H463C472.941 601 481 592.941 481 583V18C481 8.05887 472.941 0 463 0H364.041C353.548 0 345.041 8.50659 345.041 19V45C345.041 55.4934 336.534 64 326.041 64H321C310.507 64 302 72.5066 302 83V101C302 110.941 293.941 119 284 119C274.059 119 266 127.059 266 137V148C266 158.493 257.493 167 247 167H245C234.507 167 226 175.507 226 186V196C226 206.493 217.493 215 207 215H19Z"
  );
}

@keyframes clipMorph {
  0% {
    clip-path: path("M18 0C8.05887 0 0 8.05887 0 18V583C0 592.941 8.05891 601 18 601H1405C1414.94 601 1423 592.941 1423 583V18C1423 8.05887 1414.94 0 1405 0H18Z");
  }
  100% {
    clip-path: path("M18 0C8.05887 0 0 8.05887 0 18V583C0 592.941 8.05891 601 18 601H1405C1414.94 601 1423 592.941 1423 583V184C1423 173.507 1414.49 165 1404 165H1023C1012.51 165 1004 156.493 1004 146V98C1004 87.5066 1012.51 79 1023 79H1043C1053.49 79 1062 70.4934 1062 60V19C1062 8.50659 1053.49 0 1043 0H18Z");
  }
}

.animated-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  animation: clipMorph 2s ease-in-out 3s forwards;
}


.letter {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.cursor-ball {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
    background: linear-gradient(90deg, #0f0e0e, #ff9e32, #ffaa4d, #ff6b00, #ff4500);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s infinite linear ;
  transition: all;
}
.left-clamp {
  left: clamp(10rem, 30vw, 45rem);
}