@import "tailwindcss";
@font-face {
  font-family: "Manrope";
  src: url("/font/regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: semi-bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 color: var(--foreground);
  width:100dvw;
  height: 100dvh;
  background-color: #ffffff; 
}
.custom-clip {
  clip-path: path('M120,0 H100% V100% H120 C100,100% 0,80% 0,50% C0,20% 100,0 120,0 Z');
  border-radius: 24px;
}

::-webkit-scrollbar {
  display: none;
}

/* Default */
:root {
  --bg-card: #F97316;
  --border-card: #e65100;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #ff9800;
  --button-text: #1b1a1a;
  --button-border: #F97F07;
  --p-text:#d15019;
  --div-bg:#FFEDD5;
  /* --k-bg:#C866D7; */
  --k-bg:#F97316;

}


.olive {
  --bg-card: #b5b567;
  --border-card: #556b2f;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #808000;
  /* --button-text: #ffffff; */
  --button-text: #1b1a1a;
  --button-border: #1a1e12;
  --p-text:#115640;
  --div-bg:#c0cda9;
  --k-bg: #8A9A5B;
 
  
}


.purple {
  --bg-card: #6a0dad;
  --border-card: #4b0082;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #6a0dad;
  /* --button-text: #ffffff; */
  --button-text: #1b1a1a;
  --button-border: #4b0082;
  --p-text:rgb(8, 50, 79);
  --div-bg:#f1eaf7;
  --k-bg: #C866D7;
  
}

.pink {
  --bg-card: #ff69b4;
  --border-card: #d1478f;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #ff69b4;
  --button-text: #1b1a1a;
  --button-border: #d1478f;
  --p-text: #8c1f4d;
  --div-bg: #ffd1dc;
  --k-bg: #FF85C1;
 
}



.sky {
  --bg-card: #87ceeb;
  --border-card: #4682b4;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #87ceeb;
  --button-text: #1b1a1a;
  --button-border: #4682b4;
  --p-text: #205f96;
  --div-bg: #b3e0ff;
  --k-bg: #7EC8E3;
 
}



.red {
  --bg-card: #bc4f5a;
  --border-card: #8B0000;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #7C020F;
  --button-text: #1b1a1a;
  --button-border: #8B0000;
  --p-text: #A52A2A;
  --div-bg: #c59198;
  --k-bg: #D96C75;
}
.brown {
  --bg-card: #846353;
  --border-card: #8B5A2B;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #7D4E36;
  --button-text: #1b1a1a;
  --button-border: #8B5A2B;
  --p-text: #A67B5B;
  --div-bg: #f3dec7;
  --k-bg: #B68C72;
}
.cyan {
  --bg-card: #00A7A7;
  --border-card: #008B8B;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --button-bg: #00CCCC;
  --button-text: #1b1a1a;
  --button-border: #008B8B;
  --p-text: #20B2AA;
  --div-bg: #d6f7f7;
  --k-bg: #52D1C5;
}
/* Utility classes */
.bg-theme {
  background-color: var(--bg-card);
}

.border-theme {
  border-color: var(--button-border);
}

.text-theme {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}
.text-p {
  color: var(--p-text);
}
.button-theme {
 color: var(--button-text);
  border: 2px solid var(--button-border);
}

.button-theme:hover {
  background-color: var(--border-card) !important;
  color: var(--text-primary) !important;
}
.div-bg {
  background-color: var(--div-bg);
}

.custom-svg rect {
  fill: var(--k-bg);
}

